.separator {
    display:block;
    margin-top: 80px;
}

.footerImg {
    position: absolute;
    left: 20px;
    width: 120px;
    top: -80px;
}
.socialIcon {
    width: 32px;
    margin-left: 2px;
}

.footerCopy, footerContact {
    vertical-align: middle;
    color: #ffffff;
}


.lab-card {
    min-height: 280px;    
    display: block;
    position: relative;
}

.btn-lab {
    position: absolute;
    bottom: 25px;
}

.input-label {
 width:100px;
 font-weight: bold;
}


.flag {
    width:32px;
    margin: 2px;
}


@media screen and (min-width: 320px) {
    .footerImg, .footerCopy {
        display: none;
    }
}

@media screen and (min-width: 480px) {
    .footerImg , .footerCopy{
        display: none;
    }

}

@media screen and (min-width: 720px) {
    .footerImg, .footerCopy {
        display: inline;
    }

}