.App {
  text-align: center;
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.mainContent {
    margin-top:60px;
    text-align: justify;
}

.separator {
    display:block;
    margin-top: 80px;
}

.footerImg {
    position: absolute;
    left: 20px;
    width: 120px;
    top: -80px;
}

.footerSocial {
    position: absolute;
    top: 0%;      
    right: 20px;
    width:150px;
}
.socialIcon {
    width:32px;
    position: relative;
    top: 10px;  
    margin-right: 8px;
}

.footerCopy {
    position: absolute;
    right: 40%;
    left: 40%;
    top: 25%;
    color: #ffffff;
}


.lab-card {
    min-height: 280px;    
    display: block;
    position: relative;
}

.btn-lab {
    position: absolute;
    bottom: 25px;
}

.input-label {
 width:100px;
 font-weight: bold;
}


@media screen and (min-width: 320px) {
    .footerImg, .footerCopy {
        display: none;
    }
}

@media screen and (min-width: 480px) {
    .footerImg , .footerCopy{
        display: none;
    }

}

@media screen and (min-width: 720px) {
    .footerImg, .footerCopy {
        display: inline;
    }

}
