.App {
  text-align: center;
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.flag {
    height:18px;
    margin: 2px;
}

.flagsArea {
    position: absolute;
    right: 20px;
    width: 100px;
    top: 15px;
}

.mainContent {
    margin-top:60px;
    text-align: justify;
}

.separator {
    display:block;
    margin-top: 80px;
}

.footerImg {
    position: absolute;
    left: 20px;
    width: 120px;
    top: -80px;
}

.footerSocial {
    position: absolute;
    top: 0%;      
    right: 20px;
    width:150px;
}
.socialIcon {
    width:32px;
    position: relative;
    top: 10px;  
    margin-right: 8px;
}

.footerCopy {
    position: absolute;
    right: 40%;
    left: 40%;
    top: 25%;
    color: #ffffff;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card-body {
    padding: 2px 16px;
}

.card-img-top {
    width:100%;
}

.lab-card {
    min-height: 250px;    
    display: block;
    position: relative;
}

.card-text {
    font-size: 1.50rem;
}

.card-title {
    margin-top: 1.00rem;
    margin-bottom: 1.00rem;
    font-size: 2.00rem;
    font-family: inherit;
    font-weight: bold;
    line-height: 1.2;
    color: inherit;
}

.btn-lab {
    position: absolute;
    bottom: 25px;
}

.input-label {
 width:100px;
 font-weight: bold;
}


@media screen and (min-width: 320px) {
    .footerImg, .footerCopy {
        display: none;
    }
}

@media screen and (min-width: 480px) {
    .footerImg , .footerCopy{
        display: none;
    }

}

@media screen and (min-width: 720px) {
    .footerImg, .footerCopy {
        display: inline;
    }

}
